.url_input {
    transition: .2s;
    width: var(--em-size-200);
    &[data-empty="false"] {
        width: calc(var(--em-size-100) * 8);
    }
}
.input_label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: 10px solid #0000; // make it so label is clickable on the whole button
    margin: -10px;
    height: 100%;
    background-color: #0000;
}
#file_input {
    display: none;
}