@use "./utility.scss";

.url_input {
    @extend .util_round-corners;
    @extend .util_transition;
    border: var(--em-size-20) solid var(--color-blue-400);
    padding: var(--em-size-25) var(--em-size-50);
    font: inherit;
    background-color: transparent;
    color: var(--color-blue-50);

    transition-property: width;
    width: calc(var(--em-size-100) * 5);
    
    &[data-empty="false"] {
        width: calc(var(--em-size-100) * 15);
    }

    &:focus-visible {
        border-color: var(--color-blue-50);
        outline: none;
    }
}
.input_label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: 10px solid #0000; // make it so label is clickable on the whole button
    margin: -10px;
    height: 100%;
    background-color: #0000;
}
#file_input {
    display: none;
}