:root {
    --color-blue-50: #eeeefe;
    --color-blue-200: hsl(240, 12%, 60%);
    --color-blue-400: hsl(240, 12%, 33%);
    --color-blue-950: #111116;
    --em-size-5: 0.05em;
    --em-size-10: 0.1em;
    --em-size-15: 0.15em;
    --em-size-20: 0.2em;
    --em-size-25: 0.25em;
    --em-size-50: 0.5em;
    --em-size-100: 1em;
    --em-size-200: 2em;
    --em-size-400: 4em;
    --em-size-500: 5em;
    --em-size-700: 7em;
    --transition-duration: 300ms;
    --transition-timing-function: ease;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-blue-50);
    overflow-x: hidden;

    .background {
        background: url("/texture_nobg.png") repeat;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.075;
        z-index: -1;
    }
    background-color: var(--color-blue-950);
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 3rem min(10vw, 15rem);
}

.float-right {
    float: right;
}

button {
    touch-action: manipulation;
    color: inherit;
    background: none;
    border-radius: var(--em-size-50);
    padding: var(--em-size-25) var(--em-size-50);
    border: var(--em-size-20) solid var(--color-blue-400);
    cursor: pointer;
    font: inherit;

    transition: background var(--transition-duration)
        var(--transition-timing-function);

    &:hover {
        background: var(--color-blue-400);
    }

    &:focus-visible {
        border-color: var(--color-blue-50);
        outline: none;
    }
}
code {
    font-size: 0.8em;
}
.controls {
    width: 51%;
    display: grid;
    // grid-template-columns: 1fr 0.9fr max-content;

    align-items: center;
    margin-block: var(--em-size-50);
    column-gap: 1em;
    row-gap: 0.5em;
}
.timing_controls {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5em;
    
    button {
        width: 100%;
        // max-width: max-content;
    }
}


.nerd_stuff_button {
    max-width: 6.24em;
}
.credits {
    position: absolute;
    // bottom: 0;
    margin-top: 2em;
    a {
        font-weight: bold;
        text-decoration: none;
    }
    .name1  {
        background-image: linear-gradient(to right, #EF8241,#EE4444, #EE4444);
        background-clip: text;
        -webkit-background-clip: text;
        color: #0000;
    }
    .name2  {
        background-image: linear-gradient(to right, #FFB3F3,#F772C5, #F772C5);
        background-clip: text;
        -webkit-background-clip: text;
        color: #0000;
    }
}
@media (min-width: 910px) {
    .controls {
        grid-template-columns: 1fr 0.9fr max-content;
    }
}
@media (max-width: 910px) {
    .timing_controls {
        grid-template-columns: repeat(2, 1fr);
        margin-inline: auto;
        button {
            justify-self: center;
        }
    }
}