@use "./utility.scss";
$color-slider_value: var(--color-blue-200);
$color-slider_bg: var(--color-blue-400);

input[type="range"] {
    @extend .util_round-corners;
    overflow: hidden;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    margin-top: var(--em-size-50);

    &:focus-visible {
        outline: 3px solid var(--color-blue-50);
    }

    height: var(--em-size-100);
    width: 100%;


    background-color: $color-slider_bg;

    // &::-webkit-slider-runnable-track {
    // -webkit-appearance: none;
    // border-radius: 100px;
    // margin-top: -1px;
    // }

    &::-webkit-slider-thumb {
        @extend .util_round-corners;
        box-shadow: -100vw 0 0 calc(100vw - var(--em-size-50))
            $color-slider_value;
        -webkit-appearance: none;
        width: var(--em-size-100);
        height: var(--em-size-100);
        margin-left: -1px;
        background-color: $color-slider_value;
        overflow: visible;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 0;
        height: 0;
        border: none;
    }

    &::-moz-range-progress {
        background-color: $color-slider_value;
        border-bottom-right-radius: var(--em-size-50);
        border-top-right-radius: var(--em-size-50);
        height: 100%;
    }
}
.markers {
    position: relative;
    margin-bottom: var(--em-size-200);

    .start_frame,
    .end_frame {
        position: absolute;
        cursor: pointer;
        width: 1em;
        aspect-ratio: 1;
        margin-left: calc(100% * calc(var(--frame) / var(--duration)) - .5em);

        img {
            display: block;
            width: 100%;
        }
    }
    .start_frame {
        --frame: var(--start_frame);
    }
    .end_frame {
        --frame: var(--end_frame);
    }
}
