$color-slider_value: var(--color-blue-200);
$color-slider_bg: var(--color-blue-400);

input[type="range"] {
    overflow: hidden;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    border-radius: var(--em-size-50);

    height: var(--em-size-100);
    width: 100%;

    margin-top: var(--em-size-50);

    background-color: $color-slider_bg;

    // &::-webkit-slider-runnable-track {
    // -webkit-appearance: none;
    // border-radius: 100px;
    // margin-top: -1px;
    // }

    &::-webkit-slider-thumb {
        box-shadow: -100vw 0 0 calc(100vw - var(--em-size-50))
            $color-slider_value;
        -webkit-appearance: none;
        width: var(--em-size-100);
        height: var(--em-size-100);
        margin-left: -1px;
        border-radius: var(--em-size-50);
        background-color: $color-slider_value;
        overflow: visible;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 0;
        height: 0;
        border: none;
    }

    &::-moz-range-progress {
        background-color: $color-slider_value;
        border-bottom-right-radius: var(--em-size-50);
        border-top-right-radius: var(--em-size-50);
        height: 100%;
    }
}
.markers {
    position: relative;
    .start_frame,
    .end_frame {
        position: absolute;
        width: 1em;
        height: 1em;
        // background: blue;
        img {
            display: block;
            width: 100%;
        }
    }
    .start_frame {
        margin-left: calc(100% * calc(var(--start_frame) / var(--duration)) - .5em);
    }
    .end_frame {
        margin-left: calc(100% * calc(var(--end_frame) / var(--duration)) - .5em);
    }
}
