.switch {
    label {
        cursor: pointer;

        > div {
            width: max-content;
            display: flex;
            gap: var(--em-size-50);
            align-items: center;
        }
    }
    input {
        display: none;
    }
    width: max-content;
    display: flex;
    // gap: var(--em-size-50);
}

.slider {
    display: block;
    width: var(--em-size-200);
    height: var(--em-size-100);
    padding: var(--em-size-10);
    background: var(--color-blue-400);
    border-radius: 100vmax;
    position: relative;

    &::after {
        transition: 300ms ease;
        border-radius: 100vmax;
        content: "";
        display: block;
        width: var(--em-size-100);
        height: var(--em-size-100);
        background: var(--color-blue-200);
        position: absolute;
        left: var(--em-size-15);
    }

    &[data-checked="true"]::after {
        left: calc(var(--em-size-100) + var(--em-size-5));
    }
}
