@use "./utility.scss";

.switch {
    label {
        cursor: pointer;

        > div {
            width: max-content;
            display: flex;
            gap: var(--em-size-50);
            align-items: center;
        }
    }
    input {
        display: none;
    }
    min-width: max-content;
    display: flex;
    position: relative;
    gap: var(--em-size-50);

    p {
        margin: 0;
    }
}

@media (max-width: 910px) {
    .switch p {
        width: 7.5em;
    }
}

.slider {
    @extend .util_round-full;
    display: block;
    width: var(--em-size-200);
    height: var(--em-size-100);
    padding: var(--em-size-10);
    background: var(--color-blue-400);
    position: relative;

    &::after {
        @extend .util_round-full;
        @extend .util_transition;
        content: "";
        display: block;
        width: var(--em-size-100);
        height: var(--em-size-100);
        background: var(--color-blue-200);
        position: absolute;
        left: var(--em-size-15);
    }

    &[data-checked="true"]::after {
        left: calc(var(--em-size-100) + var(--em-size-5));
    }
}
